div#header{
	border: solid 2px yellow;
	height: 75px;
}

div#filterPanel{
	border: solid 2px red;
	width: 196px;
	position: absolute;
	min-height: 800px;
}

div#detailsPanel{
    border: solid 2px green;
    float: right;
    width: 196px;
    min-width: 300px;
    min-height: 800px;
}

div#totalCount{
    border: solid 2px orange;
    width: 60%;
    margin: 0 auto;
    height: 100px;
}

div#dateRange{
    border: solid 2px blue;
    width: 60%;
    margin: 0 auto;
    height: 100px;
}

div#outbreaks{
    border: solid 2px pink;
    width: 60%;
    margin: 0 auto;
    height: 100px;
}

div#map{
	border: solid 2px blue;
	margin-left: 200px;
	width: 1403px;
	min-height: 800px;
}

div#histogram svg{
	min-width: 960px;
	min-height: 300px;
}

.overlay {
background-color: rgba(0, 0, 0, 0.5);
color: #333;
position: absolute;
width: 100%;
z-index: 400;
height: 100%;
top: 0px;
display:none; }

.show {
width:50px;
height:50px;
left:40%;
top:30%;
background-color:#9C9C9C;
    position:absolute;
}

.close {
width: 13px;
height: 18px;
background-color: grey;  
}

/*For font/text*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
