div#header{
	border: solid 2px yellow;
	background-color: #DDF;
	height: 50px;
}

div#filterPanel{
	border: solid 2px red;
	background-color: #FFF;
	width:100px;
	position: absolute;
	min-height:500px;
}

div#choropleth{
	border: solid 2px blue;
	margin-left: 100px;
	min-height: 500px;
}