div#header{
	border: solid 2px yellow;
	height: 75px;
}

div#filterPanel{
	border: solid 2px red;
	width: 196px;
	position: absolute;
	min-height: 800px;
}

div#detailsPanel{
    border: solid 2px green;
    float: right;
    width: 196px;
    min-width: 300px;
    min-height: 800px;
}

div#totalCount{
    border: solid 2px orange;
    width: 60%;
    margin: 0 auto;
    height: 100px;
}

div#dateRange{
    border: solid 2px blue;
    width: 60%;
    margin: 0 auto;
    height: 100px;
}

div#outbreaks{
    border: solid 2px pink;
    width: 60%;
    margin: 0 auto;
    height: 100px;
}

div#map{
	border: solid 2px blue;
	margin-left: 200px;
	width: 1403px;
	min-height: 800px;
}

div#histogram svg{
	min-width: 960px;
	min-height: 300px;
}

.overlay {
background-color: rgba(0, 0, 0, 0.5);
color: #333;
position: absolute;
width: 100%;
z-index: 400;
height: 100%;
top: 0px;
display:none; }

.show {
width:50px;
height:50px;
left:40%;
top:30%;
background-color:#9C9C9C;
    position:absolute;
}

.close {
width: 13px;
height: 18px;
background-color: grey;  
}

.county{
      fill: #AAFFFF;
  }

  .county-boundary {
    fill: none;
    stroke: #555;
    stroke-linejoin: round;
  }

  .states {
    fill: none;
    stroke: #000;
    stroke-linejoin: round;
  }

  .q0-9 { fill:rgb(247,251,255); }
  .q1-9 { fill:rgb(222,235,247); }
  .q2-9 { fill:rgb(198,219,239); }
  .q3-9 { fill:rgb(158,202,225); }
  .q4-9 { fill:rgb(107,174,214); }
  .q5-9 { fill:rgb(66,146,198); }
  .q6-9 { fill:rgb(33,113,181); }
  .q7-9 { fill:rgb(8,81,156); }
  .q8-9 { fill:rgb(8,48,107); }
  
  
  .tooltip{ background-color:rgba(68,136,187,0.5);;
          margin: 10px;
          height: 50px;
          width: 150px;
          padding-left: 10px; 
          padding-top: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
        }

/*For font/text*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
